#include <os2.h>

#include "res.h"

ICON    IDI_PMVNC   "res/pmvnc.ico"
ICON    IDI_FLASH   "res/iconflash.ico"
POINTER IDP_HAND    "res/hand.ptr"

DLGTEMPLATE IDD_ABOUT 
BEGIN
	DIALOG "About", 1, 58, 31, 216, 136, FS_DLGBORDER | FS_SCREENALIGN | NOT WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU
	PRESPARAMS PP_FONTNAMESIZE "8.Helv"
	BEGIN
		CONTROL "OK", 1, 78, 5, 59, 13, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_TABSTOP
		CONTROL "VNC Server for OS/2 PM, version 1.02", -1, 44, 123, 142, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
		CONTROL "by Eugene Romanenko", -1, 44, 115, 142, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
		CONTROL "web:", -1, 44, 107, 18, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
		CONTROL "http://eros2.by.ru", 101, 67, 107, 72, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "e-mail: eros2@os2.ru", -1, 44, 99, 142, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
		CONTROL "PMVNC is a product of eCo Software", -1, 44, 86, 128, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
		CONTROL "http://ecomstation.ru/ecosoft/", 102, 44, 77, 114, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Based on WinVNC Version 3.3.7", -1, 44, 64, 142, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
		CONTROL "Virtual Network Computing", -1, 44, 55, 168, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
		CONTROL "http://www.realvnc.com", 103, 44, 46, 162, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
		CONTROL "Copyright 1997-2001 - AT&T Labs Cambridge", -1, 44, 28, 154, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
		CONTROL "Copyright 2002-2003 - RealVNC Ltd.", -1, 44, 37, 154, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
		CONTROL IDI_PMVNC, -1, 9, 111, 22, 17, WC_STATIC, SS_ICON | WS_VISIBLE | WS_GROUP
	END
END

DLGTEMPLATE IDP_GENERAL
BEGIN
    DIALOG "", IDP_GENERAL, 52, 78, 288, 111, NOT FS_DLGBORDER | NOT WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    PRESPARAMS PP_FONTNAMESIZE "8.Helv"
    BEGIN
        CONTROL " Incoming Connections ", -1, 5, 35, 157, 72, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "Accept Socket Connections", IDC_CONNECT_SOCK, 10, 87, 150, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
        CONTROL "Password:", -1, 19, 73, 55, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        CONTROL "", IDC_PASSWORD, 84, 73, 70, 8, WC_ENTRYFIELD, ES_LEFT | ES_MARGIN | ES_UNREADABLE | WS_VISIBLE | WS_TABSTOP
        CONTROL "Display Number:", -1, 19, 57, 55, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        CONTROL "", IDC_PORTNO, 84, 57, 27, 8, WC_ENTRYFIELD, ES_LEFT | ES_MARGIN | WS_VISIBLE | WS_TABSTOP
        CONTROL "Auto", IDC_AUTO_DISPLAY_NO, 119, 56, 35, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
        CONTROL "Enable built-in HTTP daemon", IDC_CONNECT_HTTP, 10, 39, 150, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
        CONTROL " When Last Client Disconnects ", -1, 170, 61, 112, 46, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "Do Nothing", IDC_LOCKSETTING_NOTHING, 177, 88, 80, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        CONTROL "Lock Workstation", IDC_LOCKSETTING_LOCK, 177, 76, 80, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
        CONTROL "Logoff Workstation", IDC_LOCKSETTING_LOGOFF, 177, 64, 80, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
        CONTROL " Connection Settings ", -1, 5, 5, 157, 25, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "Disable Remote Keyboard & Pointer", IDC_DISABLE_INPUTS, 12, 10, 128, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
    END
END

DLGTEMPLATE IDP_UPDHAN
BEGIN
    DIALOG "", IDP_UPDHAN, 57, 104, 284, 87, NOT FS_DLGBORDER | NOT WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    PRESPARAMS PP_FONTNAMESIZE "8.Helv"
    BEGIN
        CONTROL " Polling ", -1, 5, 6, 120, 77, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "Poll Full Screen", IDC_POLL_FULLSCREEN, 11, 63, 108, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
        CONTROL "Poll Foreground Window", IDC_POLL_FOREGROUND, 11, 50, 108, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
        CONTROL "Poll Window Under Cursor", IDC_POLL_UNDER_CURSOR, 11, 37, 108, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
        CONTROL "Poll Console Windows Only", IDC_CONSOLE_ONLY, 11, 24, 108, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
        CONTROL "Poll On Event Received Only", IDC_ONEVENT_ONLY, 11, 11, 108, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
        CONTROL " Advanced ", -1, 130, 6, 149, 77, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "Handle timer messages", IDC_USETIMER, 138, 64, 132, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        CONTROL "Note: may cause higher CPU load, but handles some display updates (clocks, etc) more accurate.", -1, 149, 37, 122, 26, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        CONTROL "Deferred updates", IDC_USEDEFERRED, 138, 22, 132, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        CONTROL "(Interfere with Odin-based apps)", -1, 149, 13, 122, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    END
END


DLGTEMPLATE IDP_ADV
BEGIN
    DIALOG "", IDP_ADV, 21, 60, 183, 136, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    PRESPARAMS PP_FONTNAMESIZE "8.Helv"
    BEGIN
        CONTROL "", -1, 5, 113, 170, 22, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        CONTROL "Password required", IDC_AUTHREQUIRED, 10, 117, 138, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        CONTROL " AuthHosts ", -1, 5, 41, 170, 69, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        CONTROL "", IDC_AUTHHOSTS, 12, 91, 155, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        CONTROL "", IDC_AUTHHOSTS_HELP, 10, 45, 159, 42, WC_MLE, MLS_READONLY | MLS_WORDWRAP | MLS_VSCROLL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        CONTROL "", -1, 5, 3, 170, 37, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        CONTROL "Logging", IDC_USELOG, 10, 22, 40, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        CONTROL "LogLevel (0 - 10):", IDC_LOGLEVELLABEL, 72, 22, 60, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        CONTROL "", IDC_LOGLEVEL, 143, 23, 24, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        CONTROL "Log filename:", IDC_LOGFILENAMELABEL, 11, 8, 43, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        CONTROL "", IDC_LOGFILENAME, 59, 9, 63, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        CONTROL "Append", IDC_LOGAPPEND, 131, 8, 37, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    END
END

DLGTEMPLATE IDP_MISC 
BEGIN
	DIALOG "", IDP_MISC, 14, 77, 230, 75, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
	PRESPARAMS PP_FONTNAMESIZE "8.Helv"
	BEGIN
		CONTROL " Timeouts ", -1, 5, 37, 215, 30, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Connection idle timeout (minutes, 0 to disable):", -1, 13, 45, 152, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", IDC_IDLETIMEOUT, 174, 46, 36, 8, WC_ENTRYFIELD, ES_CENTER | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL " Workarounds ", -1, 5, 5, 215, 27, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "15bit color depth", IDC_15BITWA, 13, 11, 134, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END
END

DLGTEMPLATE IDD_PROPERTIES
BEGIN
    DIALOG "PMVNC Properties", IDD_PROPERTIES, 50, 50, 306, 200, FS_DLGBORDER | FS_SCREENALIGN | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU | FCF_NOBYTEALIGN
    BEGIN
        CONTROL "", IDC_SETNTB, 0, 22, 306, 175, WC_NOTEBOOK, BKS_TABBEDDIALOG | BKS_MAJORTABTOP | BKS_BACKPAGESTR | BKS_TABTEXTCENTER | BKS_ROUNDEDTABS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        PRESPARAMS PP_FONTNAMESIZE "8.Helv"
        CONTROL "~OK", DID_OK, 114, 4, 40, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        PRESPARAMS PP_FONTNAMESIZE "8.Helv"
        CONTROL "Cancel", DID_CANCEL, 168, 4, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        PRESPARAMS PP_FONTNAMESIZE "8.Helv"
    END
END

DLGTEMPLATE IDD_OUTGOING_CONN
BEGIN
    DIALOG "Initiate Outgoing Connection (Add New Client)", IDD_OUTGOING_CONN, 0, 113, 258, 47, NOT WS_VISIBLE | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU
    PRESPARAMS PP_FONTNAMESIZE "8.Helv"
    BEGIN
        CONTROL "Host Name:", -1, 7, 28, 43, 9, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        CONTROL "", IDC_HOSTNAME, 55, 29, 123, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_TABSTOP
        CONTROL "OK", DID_OK, 205, 27, 46, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_TABSTOP
        CONTROL "Cancel", DID_CANCEL, 205, 7, 46, 15, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
        CONTROL "(NB:Host must be running VNCviewer in 'listen' mode)", -1, 4, 2, 178, 16, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    END
END

DLGTEMPLATE IDD_ACCEPT_CONN
BEGIN
    DIALOG "Accept PMVNC Connection?", IDD_ACCEPT_CONN, 0, 77, 186, 83, NOT WS_VISIBLE | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU
    PRESPARAMS PP_FONTNAMESIZE "8.Helv"
    BEGIN
        CONTROL "~Accept", IDC_ACCEPT, 7, 7, 50, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_TABSTOP
        CONTROL "~Reject", IDC_REJECT, 129, 8, 50, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
        CONTROL "PMVNC has received an incoming connection from", -1, 7, 64, 172, 12, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        CONTROL "<unknown host>", IDC_ACCEPT_IP, 7, 46, 172, 12, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        CONTROL "Do you wish to Accept or Reject the connection?", -1, 7, 28, 172, 12, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        CONTROL "AutoReject:", IDC_ACCEPT_TIMEOUT, 66, 7, 56, 12, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    END
END


MENU IDR_TRAYMENU
BEGIN
    MENUITEM "~Properties", CM_PROPERTIES
    MENUITEM SEPARATOR
    MENUITEM "Add ~New Client", CM_OUTGOING_CONN
    MENUITEM "~Disconnect All Clients", CM_KILLCLIENTS
    MENUITEM SEPARATOR
    MENUITEM "~About PMVNC", CM_ABOUT
    MENUITEM SEPARATOR
    MENUITEM "~Close VNC", CM_CLOSE
END


RESOURCE 300 IDR_VNCVIEWER_JAR         "res/java/vncviewer.jar"
RESOURCE 301 IDR_AUTHPANEL_CLASS       "res/java/authenticationPanel.class"
RESOURCE 301 IDR_CLIPBOARDFRAME_CLASS  "res/java/clipboardFrame.class"
RESOURCE 301 IDR_OPTIONSFRAME_CLASS    "res/java/optionsFrame.class"
RESOURCE 301 IDR_RFBPROTO_CLASS        "res/java/rfbProto.class"
RESOURCE 301 IDR_VNCCANVAS_CLASS       "res/java/vncCanvas.class"
RESOURCE 301 IDR_VNCVIEWER_CLASS       "res/java/vncviewer.class"
RESOURCE 301 IDR_ANIMMEMIMAGESRC_CLASS "res/java/animatedMemoryImageSource.class"
RESOURCE 301 IDR_DESCIPHER_CLASS       "res/java/DesCipher.class"

